<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="Livechat_Livechat" translate="label" sortOrder="200">
			<label>Livechat</label>
		</tab>
		<section id="lc_block_config" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Settings</label>
			<tab>Livechat_Livechat</tab>
			<resource>Livechat_Livechat::mymodule</resource>
			<frontend_model>Livechat\Livechat\Block\System\Config\LivechatForm</frontend_model>
		</section>
	</system>
</config>
